include layout

block content
  a(href='/claudio') Claudio
  |
  ||
  |
  a(href='/natalie') Natalie
  |
  ||
  |
  a(href='/melanie') Melanie
  |
  ||
  |
  a(href='/cynthia') Cynthia
  |
  ||
  |
  a(href='/kimberly') Kimberly
  |
  ||
  |
  a(href='/rachel') Rachel
  |
  ||
  |
  a(href='/brandon') Brandon
  h1= "Brandon's Nuclear Family"
  .col-md-12
      .col-md-6
      
            